
html,body{
 margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(45, 43, 43);
  font-family: sans-serif;

}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.my-header{
  background-color: white;
  height: 130px;
  margin-top: -22px;
  width: 100%;

}
.my-header h1{
  text-align: center;
  padding: 20px;
}
nav{
  padding-top: 0;
  margin-top: -40px; 
} 

ul{
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
  overflow: hidden;
  width: 100%;
  background-color: gray;
  padding-bottom: 0px;
  height: 60px;
}

li{
  float: left;
}

li a {
  padding: 14px 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-top: 25px;
}

li a:hover:not(.active) {
  background-color: rgb(45, 43, 43);
}

.active{
  background-color: grey;
}
#title{
    height: 30px;
    width: 250px;
    border-radius: 3px;
    margin-left: 2%;
    margin: 1%;
    border: grey 1px solid;
  
  
  }
  
  #body{
   height: 50px;
   width: 250px;
   border-radius: 3px ;
   margin-left: 2%; 
   margin: 1%;
   border: grey 1px solid;
  
  }
  
  #submit{
    border-radius: 3px  ;
    margin-left: 2%;
    margin: 1%;
    padding: 10px 26px;
    border: none;
    background-color: rgb(255, 140, 0);
    color: white;
  
  }
  #getPosts{
    margin: 1%;
  }
  
  #formCaption{
    margin-left: 2%;
    margin: 1%;  
    color: white;
  }
  
  .cardContainer{
    background-color: whitesmoke;
    display: flex;

    height: 350px;
    width: 500px;
    margin: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  .card{
  background-color: lightgray;
  margin: 5%; 
  width: 100%;
  height: 260px;
  }
  
  .cardTitle{
    background-color: whitesmoke;
    margin: 3%;
    margin-top: 9%;
    height: 60px;
    padding: 2%;
  
  }

  .cardBody{
    background-color: whitesmoke;
    margin: 3%;
    height: 100px;
    padding: 2%;
    
  }

.options{
padding: 5%;
margin: 8%;
float:none;
width: 60px;
}

.cardsCaption{
  color: white;
  margin: 1%;
}

#output{
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}